body.landingPage {
	/*linear gradient */
	background: #292929; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#3B3B3B, #222222);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#3B3B3B, #222222);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#3B3B3B, #222222);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#3B3B3B, #222222); /* Standard syntax */
	padding: 32px;
	
	margin: 0;
	height: 100%;
}

html {
	margin: 0;
	height: 100%;
}

.header {
	color: white;
}

.center {
width: 50%;
    margin: 0 auto;
	}

.navbar_global  {
background: #292929; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#3B3B3B, #222222);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#3B3B3B, #222222);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#3B3B3B, #222222);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#3B3B3B, #222222); /* Standard syntax */
}

.generated_code {
font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-size: 25px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}